<div class="row">
  <div class="col-12 d-flex flex-row bg-white">
    <div class="left-part">
      <img src="{{profileUser.image}}" alt="profile image" class="border border-dark rounded-circle mr-5"
        style="width: 18rem; height: 18rem;">
    </div>
    <div class="right-part pt-3 pb-3">
      <h4>{{profileUser.name}}</h4>
      <p>{{profileUser.email}}</p>
      <p><strong>{{profileUser.Comments.length}}</strong> 已評論餐廳</p>
      <p><strong>{{profileUser.FavoritedRestaurants.length}}</strong> 收藏的餐廳</p>
      <p><strong>{{profileUser.Followings.length}}</strong> followings</p>
      <p><strong>{{profileUser.Followers.length}}</strong> followers</p>
      {{#if isSelf}}
      <a href='/users/{{profileUser.id}}/edit'>
        <button type="button" class="btn btn-primary">edit</button>
      </a>
      {{/if}}
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-3 bg-white">
    <div class="card">
      <div class="card-header bg-light">
        <p><strong>{{profileUser.Followings.length}} followings (追蹤者)</strong></p>
      </div>
      <div class="card-body d-flex">
        {{#each profileUser.Followings}}
        <a href="/users/{{ this.id }}">
          <div class="image-container mr-3">
            <img src="{{ this.image }}" alt="user image" height="75" width="75" style="border-radius: 20%;">
          </div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="col-9 bg-white">
    <div class="card">
      <div class="card-header bg-light">
        <p><strong>{{profileUser.Comments.length}} 已評論餐廳</strong></p>
      </div>
      <div class="card-body d-flex">
        {{#each profileUser.Comments}}
        <a href="/restaurants/{{ this.Restaurant.id }}">
          <div class="image-container mr-3">
            <img src="{{ this.Restaurant.image }}" alt="restaurant image" height="75" width="75"
              style="border-radius: 20%;">
          </div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-3 bg-white">
    <div class="card">
      <div class="card-header bg-light">
        <p><strong>{{profileUser.Followers.length}} followers (追隨者)</strong></p>
      </div>
      <div class="card-body d-flex">
        {{#each profileUser.Followers}}
        <a href="/users/{{ this.id }}">
          <div class="image-container mr-3">
            <img src="{{ this.image }}" alt="restaurant image" height="75" width="75" style="border-radius: 20%;">
          </div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="col-9 bg-white">
    <div class="card">
      <div class="card-header bg-light">
        <p><strong>{{profileUser.FavoritedRestaurants.length}} 收藏的餐廳</strong></p>
      </div>
      <div class="card-body d-flex">
        {{#each profileUser.FavoritedRestaurants}}
        <a href="/restaurants/{{ this.id }}">
          <div class="image-container mr-3">
            <img src="{{ this.image }}" alt="restaurant image" height="75" width="75" style="border-radius: 20%;">
          </div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>